<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Quiz</title>
	<link rel='stylesheet' href='/stylesheet/style.css' />
</head>
<body>

<p><%= respuesta %><p>
<a href="/quizes/question"> Intentelo otra vez </a>
	
</body>
</html>